<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BTEncryption.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>braintree-ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9CB582561704EC0000448E5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CB582671704EC0000448E5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CB582851704EC2700448E5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CB582931704EC2700448E5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
